<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\adt_request_queue"/>
    <add key="ProductName" value="RTMADTQ"/>
    <!-- Begin Nova -->
    <add key="CompanyName" value="NovaBiomedical"/>
    <add key="Company_Name" value="Nova Biomedical"/>
    <add key="DefaultRootSubFolder" value="NovaNet"/>
    <add key="DefaultReportsFolder" value="NovaNetReports"/>
    <!-- End Nova -->
    <!-- Begin LifeScan
    <add key="CompanyName" value="LifeScan"/>
    <add key="Company_Name" value="LifeScan"/>
    <add key="DefaultRootSubFolder" value="OneTouchConnect"/>
    <add key="DefaultReportsFolder" value="OneTouchConnectReports"/>
    End LifeScan -->
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint name="MessageResponseEndpoint" address="msmq.formatname:DIRECT=OS:.\private$\adt_request_queue" binding="msmqIntegrationBinding" bindingConfiguration="MessageProcessorBinding" contract="RTMADTQ.IMessageProcessor">
      </endpoint>
    </client>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="MessageProcessorBinding" timeToLive="7.00:00:00">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
</configuration>
