<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
<appSettings>
  <add key="UseFacilityUUID" value="F"/>
  <add key="ProductName" value="RTMOPL"/>
  <!-- Begin Nova -->
  <add key="CompanyName" value="NovaBiomedical"/>
  <add key="Company_Name" value="Nova Biomedical"/>
  <add key="DefaultRootSubFolder" value="NovaNet"/>
  <add key="DefaultReportsFolder" value="NovaNetReports"/>
  <!-- End Nova -->
  <!-- Begin LifeScan
    <add key="CompanyName" value="LifeScan"/>
    <add key="Company_Name" value="LifeScan"/>
    <add key="DefaultRootSubFolder" value="OneTouchConnect"/>
    <add key="DefaultReportsFolder" value="OneTouchConnectReports"/>
    End LifeScan -->
</appSettings>
</configuration>