<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnet.biz.mapper.ImageTagRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jnet.biz.entity.ImageTagRel">
        <id column="rel_id" property="relId"/>
        <result column="image_id" property="imageId"/>
        <result column="tag_id" property="tagId"/>
        <result column="confidence" property="confidence"/>
        <result column="tagged_by" property="taggedBy"/>
        <result column="tag_source" property="tagSource"/>
        <result column="vector_annotation_id" property="vectorAnnotationId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rel_id, image_id, tag_id, confidence, tagged_by, 
        tag_source, vector_annotation_id, create_by, create_time
    </sql>

</mapper>
