<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnet.auth.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.jnet.auth.domain.Menu">
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="pathMethod" column="path_method" jdbcType="VARCHAR"/>
            <result property="css" column="css" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="hidden" column="hidden" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,parent_id,menu_name,
        url,path,path_method,
        css,sort,create_time,
        update_time,type,hidden,
        tenant_id,creator_id
    </sql>
</mapper>
